# Poetry
poetry.lock
.poetry/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb~
notebooks/
notebook/
# Ignore Chroma DB files
chroma_db/
*.sqlite3
*.bin

#artifacts
artifacts_pdf/

# Environments
.env
.venv
.env/

# IDEs
.idea/

__pycache__/
*.py[cod]
*$py.classlogs/
